# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environments
venv/
env/
.env

# Database
database.db

# Node
node_modules/
dist/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker volumes
pgdata/
