APScheduler==3.10.4
blinker==1.9.0
click==8.3.2
colorama==0.4.6
dnspython==2.8.0
email-validator==2.1.0

Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0

greenlet==3.0.3
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3

# ML STACK (SFace model — 28MB, lightweight, no GPU needed)
numpy==1.23.5
tensorflow==2.12.0
keras==2.12.0
protobuf==3.20.3
deepface==0.0.83

# IMAGE PROCESSING
opencv-python-headless==4.8.1.78
pillow==10.2.0

# DB + UTILS
packaging==23.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2023.3
six==1.17.0
SQLAlchemy==2.0.29
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2

Werkzeug==3.0.1
WTForms==3.1.1



#hi